VirtualBox:~/Desktop/docker-project/postgres12-docker$ cat docker-compose.yml
version: "3.9"

services:
  postgres12:
    image: postgres:12.10
    container_name: postgres12
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - pg_network

networks:
  pg_network:
    driver: bridge
